[Unit]
Description=Run Loop backup every 6 hours
Requires=spbackup-loop.service

[Timer]
OnCalendar=*-*-* 00/6:00:00
RandomizedDelaySec=900
Persistent=true

[Install]
WantedBy=timers.target
